/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*UTILITIES*/
/*COLORS*/
:root {
    --gray: rgb(40, 40, 40);
    --darkblue: rgb(20, 25, 34);

}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

/*TOP-CONTENT*/
.top-content {
    min-height: 90vh;
    width: 100vw;
    /* background-color: var(--darkblue); */
}

.top-section {
    display: flex;
}

/*LEFT NAVBAR*/
.left-navbar {
    width: 250px;
    height: 90vh;
    background-color: rgb(0, 0, 0);
    position: relative;
    z-index: 5;
    padding: 2rem;
    color: rgb(105, 105, 105);
}

.left-navbar p:hover {
    color: white;
    font-weight: bold;
}

/*MAIN*/
.top-main {
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;
    /* background-color: rgb(255, 255, 255); */
}

.main-header {
    height: 100px;
    background-color: rgba(2, 1, 1, 0.644);
    opacity: 0.5;
    position: fixed;


    left: 11%;
    right: 0;

    z-index: 4;
}

.main-content {
    min-height: 100%;
    width: 100%;
    background-color: rgb (255, 241, 75);
    padding-top: 110px;
    position: relative;
    z-index: 3;
}

/*FOOTER*/
footer {
    width: 100vw;
    height: 10vh;
    background-color: var(--gray);
    position: relative;
    z-index: 3;
    /* padding-bottom: 10vh; */
}