/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/*COLORS*/
:root {
    --gray: rgb(40, 40, 40);
    --darkblue: rgb(20, 25, 34);

}

/*UTILITIES*/
.container {
    max-width: 1400px;
    margin: 0 auto;
}

/*TOP-CONTENT*/

.top-content {
    min-height: calc(100vh - 100px);
    width: 100vw;
    /* background-color: var(--darkblue); */
}

.top-section {
    display: flex;
}

/*LEFT NAVBAR*/
.left-navbar {
    width: 300px;
    height: calc(100vh - 100px);
    background-color: rgb(0, 0, 0);
    position: relative;
    z-index: 5;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.left-navbar>img:hover {
    color: green;
}

.left-navbar h3 {
    color: rgb(255, 255, 255);
}

.left-navbar p {
    color: rgb(105, 105, 105);
    cursor: pointer;
}

.left-navbar p:hover {
    color: white;
    font-weight: bold;
    /* border-left, */
    border-left: 3px solid green;
    padding-left: 5px;

}

.left-navbar .user a {
    text-decoration: none;
    color: rgb(105, 105, 105);
    font-size: 14px;
}

.left-navbar .user .line-white {
    border: 1px solid white;
}

.left-navbar>.nav-controls {

    height: 15%;
    /* margin-top: 2rem;
    margin-bottom: 2rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-navbar>.playlist-box {

    height: 50%;
    /* margin-top: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.left-navbar>.user {
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    background-color: black;
}

.left-navbar>.user .admin {
    font-size: 20px;
    color: white;
    font-weight: bold;

}

/***** MAIN *****/

.top-main {
    width: 100%;
    height: calc(100vh - 100px);
    overflow-y: auto;
    background-color: #ffffff;

}

.main-header {
    height: 90px;
    background-color: rgba(0, 0, 0, 0.685);
    /* opacity: 0.5; */
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 4;
    padding: 0 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-header>button {
    padding: 10px 15px;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
    border: 1px solid white;
    cursor: pointer;
}

.main-header>button:hover {
    background-color: rgba(224, 222, 222, 0.466);
}


/**MAIN CONTENT**/


.main-content {
    height: 100%;
    width: 100%;
    z-index: 3;
    margin-top: 1rem;
    padding: 2rem;
}

.main-content>.main-navbar {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.main-content>.main-navbar ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

}

.main-navbar a {
    text-decoration: none;
    color: black;
}

.main-content>.main-navbar a:hover {
    border-bottom: 2px solid green;
}

.main-content>.main-navbar a:focus {
    border-bottom: 2px solid green;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    height: 200px;
    width: 200px;
    background-color: blue;
    border: 2px dashed black;
}

.card>img {
    width: 200px;
    display: block;
}

.results {
    text-align: center;
}

/*FOOTER*/
footer {
    width: 100vw;
    height: 100px;
    background-color: rgb(85, 76, 76);
    position: relative;
    z-index: 5;
}

.bottom-content {
    padding: 0 1rem;
    display: flex;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-left>img {
    width: 50px;
    padding-right: -30px;
    cursor: pointer;
}

/**** left ****/

.footer-left {
    width: calc(100% /7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    height: 100%;

}

.song-feedback>i {
    margin-right: 1rem;

}

footer i:hover {
    color: green;
    cursor: pointer;
}

/**** center ****/

.footer-center {

    min-width: 40%;
    align-items: center;
    color: rgb(255, 255, 255);
    border: 2px;
    height: 50%;

}

.song-controls {
    min-width: 30%;
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    padding: 0 10rem;


}

.song-adv {
    height: 40%;

}

.song-adv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adv-line {
    width: 85%;
    border-radius: 20px;
    display: flex;
    border: 3px solid rgba(44, 42, 42, 0.699);
}

.actual-adv {
    height: 10px;
    width: 25%;
    border: 6px solid rgb(26, 146, 26);
    border-radius: 20px;
    position: relative;
}

.adv-circle {
    height: 16px;
    width: 15px;
    border-radius: 50%;
    display: none;
    position: absolute;
    right: -13px;
    top: -8px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.adv-line:hover .adv-circle {
    display: block;
}

/**** right ****/

.footer-right {
    width: calc(100% /7);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(255, 255, 255);
    height: 100%;
}

.volume-line {
    width: 60%;
    border-radius: 20px;
    display: flex;
    border: 3px solid rgba(44, 42, 42, 0.699);
}

.volume-adv {
    height: 5px;
    width: 60%;
    border: 3px solid rgb(247, 247, 247);
    border-radius: 20px;
    position: relative;
}

.volume-line:hover .volume-circle {
    display: block;
}

.volume-circle {
    cursor: pointer;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: none;
    position: absolute;
    right: -6px;
    top: -5px;
    background-color: rgb(23, 163, 42);
}




/***** RESPONSIVE *****/

@media screen and (max-height: 150px) {
    footer {
        height: 100vh;
    }

    .top-content {
        display: none;
    }
}